/* Cấu hình cho submenuModal */
#submenuModal {
    position: fixed;
    display: none;
    width: 250px;
    height: fit-content;
    z-index: 1050;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Cài đặt màu và tương tác cho menu và submenu item */
.active-menu {
    background-color: #4A90E2;
    color: #FFFFFF;
}

.submenu-item {
    display: block;
    padding: 4px 16px;
    text-decoration: none; /* Loại bỏ gạch chân */
}

.submenu-item:hover {
    background-color: #4a5568;
    color: #FFFFFF;
}

.active-submenu {
    color: #4A90E2;
    background-color: #4a5568;
}

.active-submenu-item {
    color: #FFFFFF;
    background-color: #4a5568;
    padding: 4px 16px;
}

/* Định nghĩa cho card */
.card {
    background: #ffffff;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure card stretches to fill content */
    margin-bottom: 10px;
}

/* Định nghĩa cho card-body */
.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    overflow-x: auto;
}

.money-table {
    width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng có thể */
    border-collapse: collapse; /* Giúp viền của các ô liền kề nhau */
    margin: 0px; /* Đảm bảo không có khoảng cách ngoài xung quanh bảng */
    padding: 0px;
    font-size: 15px;
}

.money-table th, .money-table td {
    padding: 0px; /* Xóa bỏ khoảng cách padding trong các ô */
    border: 1px solid #d4edd5; /* Áp dụng đường viền mỏng cho các ô */
    background-color: #e9f3e9; /* Màu nền cho các ô */
    text-align: right; /* Căn giữa nội dung trong các ô */
}

.money-table thead th {
    background-color: #0d7e13; /* Màu nền cho tiêu đề bảng */
    color: #f5f5f5; /* Màu chữ cho tiêu đề */
    font-weight: bold; /* Font đậm cho tiêu đề */
}

.money-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Màu nền xen kẽ cho các hàng */
}

.ui-autocomplete {
    z-index: 1050 !important; /* Bootstrap modals usually have z-index around 1040 to 1050 */
}

.table-fixed thead th {
    position: sticky;
    top: 0;
    background: white; /* Đảm bảo nền trắng che các hàng dưới khi cuộn */
    z-index: 10;
}

.table-fixed tbody {
    display: block;
    overflow-y: auto;
    max-height: 700px; /* Đặt chiều cao tối đa cho phần cuộn */
}

.table-fixed thead, .table-fixed tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Giúp các cột không thay đổi khi cuộn */
}

.table-fixed {
    width: 100%;
}


